In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
import os

In [25]:
files=os.listdir(r'D:\Computer Science\Terms 9\Data Science\Project\uber-pickups-in-new-york-city')[-7:]
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-janjune-15.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [26]:
files.remove('uber-raw-data-janjune-15.csv')

In [27]:
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [28]:
path=r'D:\Computer Science\Terms 9\Data Science\Project\uber-pickups-in-new-york-city'

final=pd.DataFrame()

for file in files:
    df=pd.read_csv(path+"/"+file,encoding='utf-8')
    final=pd.concat([df,final])

In [29]:
final.shape

(4534327, 4)

In [30]:
df=final.copy()

In [31]:
df.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [32]:
df.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [37]:
df['Date/Time']=pd.to_datetime(df['Date/Time'], format='%m%d%Y %H:%M:%S')
df['Date/Time'] = pd.to_datetime(df['Date/Time'], format="%m/%d/%Y %H:%M:%S")

ValueError: time data '9/1/2014 0:01:00' does not match format '%m%d%Y %H:%M:%S' (match)

In [34]:
df.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [35]:
df.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [ ]:
df['weekday'] = df['Date/Time'].dt.day_name()

In [ ]:
df['day'] = df['Date/Time'].dt.day

In [ ]:
df['minute'] = df['Date/Time'].dt.minute

In [ ]:
df['month'] = df["Date/Time"].dt.month

In [ ]:
df['hour'] = df['Date/Time'].dt.hour

In [ ]:
df.head()

In [ ]:
df.dtypes